[Unit]
Description=Launch the Flask server
After=network-online.target
Wants=network-online.target/

[Service]
ExecStart=/home/romerom/basicOAuth/.venv/bin/gunicorn --chdir /home/romerom/basicOAuth --workers 4 --bind 0.0.0.0:8000 server:app

[Install]
WantedBy=multi-user.target